-# Generated at https://realfavicongenerator.net/

%link{rel: 'apple-touch-icon', sizes: '180x180',      href: asset_url('/icons/apple-touch-icon.png')}
%link{rel: 'icon', sizes: '16x16', type: 'image/png', href: asset_url('/icons/favicon-16x16.png')}
%link{rel: 'icon', sizes: '32x32', type: 'image/png', href: asset_url('/icons/favicon-32x32.png')}
%link{rel: 'manifest',                                href: asset_url('/icons/manifest.json')}
%link{rel: 'shortcut icon',                           href: asset_url('/icons/favicon.ico')}
%meta{name: 'msapplication-config',                content: asset_url('/icons/browserconfig.xml')}
%meta{name: 'theme-color', content: '#fff'}
