---
title: Periods on the Street
description: >
  We are a nonprofit organization that aims to provide feminine hygiene products
  for the homeless women of Vancouver.
image: background.jpg
---

.workaround_flex-min-height
  .head
    .head-main
      %h1
        We are a nonprofit organization that aims to provide feminine hygiene products
        for the homeless women of Vancouver.

      .head-detail
        %ul.horizontal
          %li>= link_to 'In the Press', 'http://theotherpress.ca/douglas-organization-seeks-to-raise-awareness-of-homeless-womens-health-issues/#main'
          %li>= link_to 'Twitter', find(data.organization.sameAs, hostname: 'twitter.com')
          %li>= link_to 'Facebook', find(data.organization.sameAs, hostname: 'www.facebook.com')

        %p
          = link_to "mailto:#{data.organization.email}" do
            = mark_up_fragments(data.organization.email)
